<!DOCTYPE html>
<html ng-app="appEscola">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="escola-controller.js"></script>
</head>
<body ng-controller="EscolaController">
<h1>Cadastro de Escolas</h1>
<input ng-model="novaEscola.nome" placeholder="Nome">
<input ng-model="novaEscola.endereco" placeholder="Endereço">
<input ng-model="novaEscola.telefone" placeholder="Telefone">
<button ng-click="salvarEscola()">Salvar</button>

<ul>
    <li ng-repeat="escola in escolas">
        {{ escola.nome }} - {{ escola.endereco }} - {{ escola.telefone }}
        <button ng-click="editarEscola(escola)">Editar</button>
        <button ng-click="deletarEscola(escola.id)">Deletar</button>
    </li>
</ul>
</body>
</html>